<ion-header>
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categorias"></ion-back-button>
    </ion-buttons>

    <ion-title>Empresas</ion-title>
  </ion-toolbar>

  <ion-toolbar color="tertiary">
    <ion-toolbar color="tertiary">
      <ion-searchbar
        placeholder="Procurar"
        [(ngModel)]="filtro"
        (keyup)="procurar($event)"
        showCancelButton
        (ionClear)="limparConsulta()">
      </ion-searchbar>
    </ion-toolbar>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list *ngFor="let emp of empresasFiltradas">

    <ion-item button [routerLink]="['/empresas',emp.id]">
      <ion-thumbnail slot="start">
        <img src="{{emp.url_logo}}">
      </ion-thumbnail>
      <ion-label>{{emp.fantasia}}</ion-label>
    </ion-item>

  </ion-list>

  <ion-item lines="none" *ngIf="!empresasFiltradas?.length">
    <ion-label>Nenhum resultado encontrado!</ion-label>
  </ion-item>

</ion-content>
