<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Cadastro de oferta</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  
    <form [formGroup]="ofertaForm">
      <ion-item>
        <ion-label position="floating">Descrição: </ion-label>
        <ion-input formControlName="descricao"
                   type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Data de início: </ion-label>
        <ion-datetime formControlName="dtInicio"
                      display-format="DD de MMMM de YYYY"
                      min="1930-01-01"
                      cancel-text="Cancelar"
                      done-text="Selecionar"
                      [monthNames]="meses"
                      [monthShortNames]="mesesAbreviados"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Data final: </ion-label>
        <ion-datetime formControlName="dtFim"
                      display-format="DD de MMMM de YYYY"
                      min="1930-01-01"
                      max="2050-12-31"
                      cancel-text="Cancelar"
                      done-text="Selecionar"
                      [monthNames]="meses"
                      [monthShortNames]="mesesAbreviados"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Empresa: </ion-label>
        <ion-select formControlName="empresaID"
                    [compareWith]="compareWith"
                    multiple="false"
                    ok-text="OK"
                    cancel-text="Cancelar"
                    name="empresas"
                    (ionChange)='setaDadosEmpresa($event)'>
          <ion-select-option *ngFor="let empresa of empresas"
                             [value]="empresa.id">
            {{empresa.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Detalhes: </ion-label>
        <ion-input formControlName="detalhes"
                   type="text">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Informacoes: </ion-label>
        <ion-input formControlName="informacoes"
                   type="text">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">URL da imagem: </ion-label>
        <ion-input formControlName="url_img"
                   type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Destaque? </ion-label>
        <ion-checkbox formControlName="destaque"></ion-checkbox>
      </ion-item>
  
      <ion-fab vertical="bottom"
               horizontal="end">
        <ion-fab-button (click)="salvar()" [disabled]="!ofertaForm.valid">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </form>
  </ion-content>