<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Cadastro de oferta</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <form [formGroup]="ofertaForm">
      <ion-item>
        <ion-label position="floating">Descrição: </ion-label>
        <ion-input formControlName="descricao"
                   type="text">
        </ion-input>
        <ion-text color="danger" *ngIf="descricao.errors">
          <small *ngIf="descricao.errors.required && (descricao.dirty || descricao.touched)">
            O campo Descrição é obrigatório
          </small>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Data de início: </ion-label>
        <ion-datetime formControlName="dtInicio"
                      display-format="DD de MMMM de YYYY"
                      min="1930-01-01"
                      cancel-text="Cancelar"
                      done-text="Selecionar"
                      [monthNames]="meses"
                      [monthShortNames]="mesesAbreviados"></ion-datetime>
        <ion-text color="danger" *ngIf="dtInicio.errors">
          <small *ngIf="dtInicio.errors.required && (dtInicio.dirty || dtInicio.touched)">
            O campo Data de início é obrigatório
          </small>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Data final: </ion-label>
        <ion-datetime formControlName="dtFim"
                      display-format="DD de MMMM de YYYY"
                      min="1930-01-01"
                      max="2050-12-31"
                      cancel-text="Cancelar"
                      done-text="Selecionar"
                      [monthNames]="meses"
                      [monthShortNames]="mesesAbreviados"></ion-datetime>
        <ion-text color="danger" *ngIf="dtFim.errors">
          <small *ngIf="dtFim.errors.required && (dtFim.dirty || dtFim.touched)">
            O campo Data final é obrigatório
          </small>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Empresa: </ion-label>
        <ion-select formControlName="empresa"

                    multiple="false"
                    ok-text="OK"
                    cancel-text="Cancelar"
                    name="empresas">
          <ion-select-option *ngFor="let empresa of empresas"
                             [value]="empresa">
            {{empresa.nome}}
          </ion-select-option>
        </ion-select>
        <ion-text color="danger" *ngIf="empresa.errors">
          <small *ngIf="empresa.errors.required && (empresa.dirty || empresa.touched)">
            O campo Empresa é obrigatório
          </small>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Detalhes: </ion-label>
        <ion-input formControlName="detalhes"
                   type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Informacoes: </ion-label>
        <ion-input formControlName="informacoes"
                   type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">URL da imagem: </ion-label>
        <ion-input formControlName="url_img"
                   type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Destaque? </ion-label>
        <ion-checkbox formControlName="destaque" slot="start"></ion-checkbox>
      </ion-item>

      <ion-fab vertical="bottom"
               horizontal="start">
        <ion-fab-button color="tertiary" (click)="cancelar()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab vertical="bottom"
               horizontal="end">
        <ion-fab-button color="tertiary" (click)="salvar()" [disabled]="!ofertaForm.valid">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </form>
  </ion-content>
