<ion-header>
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cadastro-home"></ion-back-button>
    </ion-buttons>

    <ion-title>Cadastro de Ofertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let oferta of ofertas">
      <ion-thumbnail slot="start">
        <ion-img src="{{oferta.url_img || '../../../assets/imagens/sem_imagem.png'}}" (ionError)="imagemInvalida($event)"></ion-img>
      </ion-thumbnail>
      <ion-label>{{oferta.descricao}}</ion-label>
      <ion-buttons>
        <ion-button color="tertiary" [routerLink]="['edicao', oferta.id]">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button color="tertiary" (click)="confirmarExclusao(oferta)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="tertiary" [routerLink]="['cadastro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
