<ion-header>
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cadastro-home"></ion-back-button>
    </ion-buttons>

    <ion-title>Cadastro de Empresas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let empresa of empresas">
      <ion-label>{{empresa.nome}}</ion-label>
      <ion-buttons>
        <ion-button color="primary" [routerLink]="['edicao', empresa.id]">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button color="primary" (click)="confirmarExclusao(empresa)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['cadastro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
