<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <!-- <ion-icon name="triangle"></ion-icon> -->
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categorias">
      <!-- <ion-icon name="ellipse"></ion-icon> -->
      <ion-label>CATEGORIAS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ofertas">
      <!-- <ion-icon name="square"></ion-icon> -->
      <ion-label>OFERTAS</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
