<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Guia Comercial</ion-title>
  </ion-toolbar>

  <ion-toolbar color="tertiary">

    <ion-segment scrollable value="basket">
      <ion-segment-button *ngFor="let cat of categorias" [routerLink]="['/empresas/categoria/', cat.id]">
        <ion-label>{{cat.nome}}</ion-label>
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../../assets/imagens/banner.jpg"></ion-img>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>EMPRESAS EM DESTAQUE</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-slides mode="md" pager="md" scrollbar="md" [options]="slideOpts">
        <ion-slide *ngFor="let emp of empresas">
          <ion-img [src]="[emp.url_logo]" [routerLink]="['/empresas',emp.id]"></ion-img>
        </ion-slide>
      </ion-slides>
    </ion-card-content>

  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>PROMOÇÕES EM DESTAQUE</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-slides mode="md" pager="md" scrollbar="md" [options]="slideOpts">
        <ion-slide *ngFor="let oferta of ofertas">
          <ion-img [src]="[oferta.url_img]" [routerLink]="['/ofertas', oferta.id]"></ion-img>
        </ion-slide>
      </ion-slides>
    </ion-card-content>

  </ion-card>


</ion-content>
