<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Cadastro de empresa</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  
    <form [formGroup]="empresaForm">
      <ion-item>
        <ion-label position="floating">Razão social: </ion-label>
        <ion-input formControlName="nome"
                   type="text">
        </ion-input>
        <ion-text color="danger" *ngIf="nome.errors">
          <small *ngIf="nome.errors.required && (nome.dirty || nome.touched)">
            O campo Razão social é obrigatório
          </small>
          <small *ngIf="nome.errors.minlength && (nome.dirty || nome.touched)">
            O campo Razão social deve conter no mínimo {{nome.errors.minlength.requiredLength}} caracteres
          </small>
        </ion-text>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Nome fantasia: </ion-label>
        <ion-input formControlName="fantasia"
                   type="text">
        </ion-input>
        <ion-text color="danger" *ngIf="fantasia.errors">
          <small *ngIf="fantasia.errors.required && (fantasia.dirty || fantasia.touched)">
            O campo Nome fantasia é obrigatório
          </small>
          <small *ngIf="fantasia.errors.minlength && (fantasia.dirty || fantasia.touched)">
            O campo Nome fantasia deve conter no mínimo {{fantasia.errors.minlength.requiredLength}} caracteres
          </small>
        </ion-text>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Sobre: </ion-label>
        <ion-input formControlName="sobre"
                   type="text">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Endereço: </ion-label>
        <ion-input formControlName="endereco"
                   type="text">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Telefone: </ion-label>
        <ion-input formControlName="telefone"
                   type="text">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">WhatsApp: </ion-label>
        <ion-input formControlName="whatsapp"
                   type="text">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Facebook: </ion-label>
        <ion-input formControlName="facebook"
                   type="text">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Instagram: </ion-label>
        <ion-input formControlName="instagram"
                   type="text">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">URL da logo: </ion-label>
        <ion-input formControlName="url_logo"
                   type="text">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">URL da capa: </ion-label>
        <ion-input formControlName="url_capa"
                   type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Categoria: </ion-label>
        <ion-select formControlName="categoria"
                    [compareWith]="compareWith"
                    multiple="false"
                    ok-text="OK"
                    cancel-text="Cancelar"
                    name="categorias">
          <ion-select-option *ngFor="let categoria of categorias"
                             [value]="categoria">
            {{categoria.nome}}
          </ion-select-option>
        </ion-select>
        <ion-text color="danger" *ngIf="categoria.errors">
          <small *ngIf="categoria.errors.required && (categoria.dirty || categoria.touched)">
            O campo Categoria é obrigatório
          </small>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Destaque? </ion-label>
        <ion-checkbox formControlName="destaque" slot="start"></ion-checkbox>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-text color="primary">
            Horário de funcionamento
          </ion-text>
        </ion-row> 

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Domingo: </ion-label>
              <ion-input formControlName="dom"
                         type="text">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-label position="floating">Segunda: </ion-label>
              <ion-input formControlName="seg"
                         type="text">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-label position="floating">Terça: </ion-label>
              <ion-input formControlName="ter"
                         type="text">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-label position="floating">Quarta: </ion-label>
              <ion-input formControlName="qua"
                         type="text">
              </ion-input>
            </ion-item>
          </ion-col>
          
          <ion-col>
            <ion-item>
              <ion-label position="floating">Quinta: </ion-label>
              <ion-input formControlName="qui"
                         type="text">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-label position="floating">Sexta: </ion-label>
              <ion-input formControlName="sex"
                         type="text">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-label position="floating">Sábado: </ion-label>
              <ion-input formControlName="sab"
                         type="text">
              </ion-input>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-grid>
      <ion-fab vertical="bottom"
               horizontal="start">
        <ion-fab-button color="tertiary" (click)="cancelar()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="bottom"
               horizontal="end">
        <ion-fab-button color="tertiary" (click)="salvar()" [disabled]="!empresaForm.valid">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </form>
  </ion-content>