<ion-header>
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Categorias</ion-title>
  </ion-toolbar>

  <ion-toolbar color="tertiary">
    <ion-searchbar
      placeholder="Procurar"
      [(ngModel)]="filtro"
      (keyup)="procurar($event)"
      showCancelButton
      (ionClear)="limparConsulta()">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="carregando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngFor="let catg of categoriasFiltradas">

    <ion-item button [routerLink]="['/empresas/categoria/', catg.id]">
      <ion-thumbnail slot="start">
        <img src="{{catg.url_img || '../../../assets/imagens/sem_imagem.png'}}">
      </ion-thumbnail>
      <ion-label>{{catg.nome}}</ion-label>
    </ion-item>

  </ion-list>

  <ion-item lines="none" *ngIf="!categoriasFiltradas?.length">
    <ion-label>Nenhum resultado encontrado!</ion-label>
  </ion-item>

</ion-content>
