<ion-header>
  <ion-toolbar color="success">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Categorias</ion-title>
  </ion-toolbar>

  <ion-toolbar color="success">
    <ion-searchbar placeholder="Filtrar categorias"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>

  <!-- <ion-searchbar placeholder="Filtrar categorias"></ion-searchbar> -->

  <ion-list>

    <ion-item button>
      <!-- <ion-thumbnail slot="start">
        <img src="../../../assets/imagens/comercio.jpg">
      </ion-thumbnail> -->
      <ion-icon name="home"></ion-icon>
      <ion-label>Alimentos & Bebidas</ion-label>
    </ion-item>

    <ion-item button>
      <ion-thumbnail slot="start">
        <img src="../../../assets/imagens/comercio.jpg">
      </ion-thumbnail>
      <ion-label>Agronegócios</ion-label>
    </ion-item>

    <ion-item button>
      <ion-thumbnail slot="start">
        <img src="../../../assets/imagens/comercio.jpg">
      </ion-thumbnail>
      <ion-label>Construção e Decoração</ion-label>
    </ion-item>

    <ion-item button>
      <ion-thumbnail slot="start">
        <img src="../../../assets/imagens/comercio.jpg">
      </ion-thumbnail>
      <ion-label>Padarias</ion-label>
    </ion-item>

    <ion-item button>
      <ion-thumbnail slot="start">
        <img src="../../../assets/imagens/comercio.jpg">
      </ion-thumbnail>
      <ion-label>Supermercados</ion-label>
    </ion-item>

    <ion-item button>
      <ion-thumbnail slot="start">
        <img src="../../../assets/imagens/comercio.jpg">
      </ion-thumbnail>
      <ion-label>Farmácias</ion-label>
    </ion-item>

    <ion-item button>
      <ion-thumbnail slot="start">
        <img src="../../../assets/imagens/comercio.jpg">
      </ion-thumbnail>
      <ion-label>Hotéis</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
