<ion-header>
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Perfil</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>
    <ion-img src="{{empresa.url_capa || '../../../assets/imagens/sem_imagem.png'}}"></ion-img>

    <ion-card-content>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="{{empresa.url_logo || '../../../assets/imagens/sem_imagem.png'}}">
        </ion-thumbnail>
        <ion-label>{{empresa.fantasia}}</ion-label>
      </ion-item>


      <!-- <h1><strong>{{empresa.fantasia}}</strong></h1> -->
      <h3>{{empresa.nome}}</h3>
      <p>
        {{empresa.endereco}} - {{empresa.cidadeNome}}
      </p>

    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Sobre a empresa</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>
        {{empresa.sobre}}
      </p>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Contatos</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-list lines="none">
        <ion-item button>
          <ion-icon slot="start" name="call-outline"></ion-icon>
          <ion-label>{{empresa.telefone}}</ion-label>
        </ion-item>

        <ion-item button>
          <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
          <ion-label>{{empresa.whatsapp}}</ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Links</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-card-content>

        <ion-list lines="none">

          <ion-item button>
            <ion-icon slot="start" name="navigate-circle-outline"></ion-icon>
            <ion-label>Mapa</ion-label>
          </ion-item>

          <ion-item button>
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            <ion-label>Email</ion-label>
          </ion-item>

          <ion-item button href="{{empresa.facebook}}">
            <ion-icon slot="start" name="logo-facebook"></ion-icon>
            <ion-label>Facebook</ion-label>
          </ion-item>

          <ion-item button href="{{empresa.instagram}}">
            <ion-icon slot="start" name="logo-instagram"></ion-icon>
            <ion-label>Instagram</ion-label>
          </ion-item>

        </ion-list>
      </ion-card-content>

    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Horário de atendimento</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-list>

        <ion-item>
          <p>
            Domingo:
            <br>
            {{empresa.dom}}
          </p>
        </ion-item>

        <ion-item>
          <p>
            Segunda-feira:
            <br>
            {{empresa.seg}}
          </p>
        </ion-item>

        <ion-item>
          <p>
            Terça-feira:
            <br>
            {{empresa.ter}}
          </p>
        </ion-item>

        <ion-item>
          <p>
            Quarta-feira:
            <br>
            {{empresa.qua}}
          </p>
        </ion-item>

        <ion-item>
          <p>
            Quinta-feira:
            <br>
            {{empresa.qui}}
          </p>
        </ion-item>

        <ion-item>
          <p>
            Sexta-feira:
            <br>
            {{empresa.sex}}
          </p>
        </ion-item>

        <ion-item>
          <p>
            Sábado:
            <br>
            {{empresa.sab}}
          </p>
        </ion-item>

      </ion-list>

    </ion-card-content>

  </ion-card>
</ion-content>
