<ion-header>
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ofertas"></ion-back-button>
    </ion-buttons>

    <ion-title>Detalhes da oferta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides mode="md" pager="md" scrollbar="md">
    <ion-slide>
      <img [src]="[oferta.url_img]" alt="" height="40" width="40">
     </ion-slide>

  </ion-slides>

  <ion-card >

    <ion-card-header>
      <ion-card-subtitle>{{oferta.empresaNome}}</ion-card-subtitle>
      <ion-card-title>{{oferta.descricao}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>
        Ofertas válidas de {{oferta.dtInicio | date: 'dd/MM/yyyy'}} até {{oferta.dtFim | date: 'dd/MM/yyyy' }}.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>DETALHES DA PROMOÇÃO</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        {{oferta.detalhes}}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>MAIS INFORMAÇÕES</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        {{oferta.informacoes}}
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
