<ion-header>
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/ofertas"></ion-back-button>
    </ion-buttons>

    <ion-title>Detalhes da oferta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides mode="md" pager="md" scrollbar="md">
    <ion-slide>
      <img src="../../../../assets/imagens/promo_gas.webp" alt="" height="40" width="40">
      <!-- <ion-img src="../../../../assets/imagens/promo_gas.webp"></ion-img> -->
    </ion-slide>

    <ion-slide>
      <ion-img src="../../../../assets/imagens/promo4.jpg"></ion-img>
    </ion-slide>

  </ion-slides>

  <ion-card >
    <ion-card-content>

    </ion-card-content>

    <ion-card-header>
      <ion-card-subtitle>Disk Delivery</ion-card-subtitle>
      <ion-card-title>DISTRIBUIDORA MONTEIRO</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>DETALHES DA PROMOÇÃO</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>MAIS INFORMAÇÕES</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
