<ion-header>
  <ion-toolbar color="success">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Ofertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card button [routerLink]="['novo']" >
    <ion-card-content>
      <ion-img src="../../../assets/imagens/promo_gas.webp"></ion-img>
    </ion-card-content>

    <ion-card-header>
      <ion-card-subtitle>Disk Delivery</ion-card-subtitle>
      <ion-card-title>DISTRIBUIDORA MONTEIRO</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card button>
    <ion-card-content>
      <ion-img src="../../../assets/imagens/promo1.jpg"></ion-img>
    </ion-card-content>

    <ion-card-header>
      <ion-card-subtitle>Supermercados</ion-card-subtitle>
      <ion-card-title>SUPERMERCADO CIDADE</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card button>
    <ion-card-content>
      <ion-img src="../../../assets/imagens/promo2.jpg"></ion-img>
    </ion-card-content>

    <ion-card-header>
      <ion-card-subtitle>Supermercados</ion-card-subtitle>
      <ion-card-title>SUPERMERCADO CIDADE</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card button>
    <ion-card-content>
      <ion-img src="../../../assets/imagens/promo3.png"></ion-img>
    </ion-card-content>

    <ion-card-header>
      <ion-card-subtitle>Roupas</ion-card-subtitle>
      <ion-card-title>VAREJO MODAS</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card button>
    <ion-card-content>
      <ion-img src="../../../assets/imagens/promo4.jpg"></ion-img>
    </ion-card-content>

    <ion-card-header>
      <ion-card-subtitle>Roupas</ion-card-subtitle>
      <ion-card-title>VAREJO MODAS</ion-card-title>
    </ion-card-header>
  </ion-card>


</ion-content>
