<ion-header>
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Promoções da semana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="carregando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngFor="let oferta of ofertas">
    <ion-item lines="none">
      <ion-card button [routerLink]="['/ofertas', oferta.id]">
        <ion-card-content>
          <ion-img [src]="[oferta.url_img]"></ion-img>
        </ion-card-content>

        <ion-card-header>
          <ion-card-subtitle>{{oferta.empresaNome}}</ion-card-subtitle>
          <ion-card-title>{{oferta.descricao}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
